<!-- Header with Logo Center and Nav links in top bar -->

<div class="top-header sm-hide">
    <div class="container" >
        <a href="index.html" class="nav-link">Refrigerator Repair</a> |
        <a href="freezer-repair.html" class="nav-link">Freezer Repair</a> |
        <a href="winecooler-repair.html" class="nav-link active">Winecooler Repair</a>
        <img src="dist/img/phone.png" style="margin-right: 8px;margin-left: auto;" style="filter:invert(1)" width="20px" alt="">Get in touch with us:<a href="tel:+8582030250"> &nbsp;&nbsp;(858) 203-0250</a>
    </div>
</div>
<div class="container sm-hide menu py-6">
    <a href="/" class="nav-left nav-link nav-brand" style="margin: auto;">Subzero Refrigerator Repair San Diego</a>
</div>