<!-- Header(menu) with rounded phone button -->

<div class="container sm-hide menu">
    <a href="/" class="nav-left nav-link nav-brand">Subzero Refrigerator Repair San Diego</a>
    <a href="index.html" class="nav-link">Refrigerator Repair</a>
    <a href="freezer-repair.html" class="nav-link">Freezer Repair</a>
    <a href="winecooler-repair.html" class="nav-link active">Winecooler Repair</a>
    <a href="tel:+8582030250" class="nav-right btn-primary btn-rounded mob-hide call">(858) 203-0250</a>
</div>