<!-- Header with Social icons in top header -->

<div class="top-header sm-hide">
    <div class="container" >
        <img src="dist/img/facebook.png" width="20px" style="filter: invert(1); margin-right: 1rem;" alt="">
        <img src="dist/img/twitter.png" width="20px" style="filter: invert(1); margin-right: 1rem;" alt="">
        <img src="dist/img/insta.png" width="20px" style="filter: invert(1); margin-right: 1rem;" alt="">
        <img src="dist/img/phone.png" style="margin-right: 8px;margin-left: auto;"" style="filter:invert(1)" width="20px" alt="">Get in touch with us:<a href="tel:+8582030250"> &nbsp;&nbsp;(858) 203-0250</a>
    </div>
</div>
<div class="container sm-hide menu py-6">
    <a href="/" class="nav-left nav-link nav-brand">Subzero Refrigerator Repair San Diego</a>
    <a href="index.html" class="nav-link">Refrigerator Repair</a> |
    <a href="freezer-repair.html" class="nav-link">Freezer Repair</a> |
    <a href="winecooler-repair.html" class="nav-link active">Winecooler Repair</a>
</div>