@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

//Colors From Figma Design - Simply change the primary color to one of the below colors
$red: #e81c2b;
$green: #09a24f;
$blue: #459ee2;
$beige: #c28645;
$darkblue:#323c79;
$crimson: #d9534f;

//Gradients
$peach: linear-gradient(90deg, #ff706b 0%, #ff8c68 100%);
$purple: linear-gradient(90deg, #4b6dba 0%, #7459a3 100%);
$navy: linear-gradient(90deg, #406788 0%, #2a4256 100%);
$seablue: linear-gradient(90deg, #70b4bf 0%, #b8dae0 100%);
$lightgreen: linear-gradient(90deg, #83c45a 0%, #a7d960 100%);

//Primary (Main) Color Used in theme - change this color to change the accent(theme) color
$primary: $red;

//Breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

//Container
.container {
  margin: auto;
}

@media only screen and (min-width: $sm) {
  .container {
    max-width: 540px;
  }
}
@media only screen and (min-width: $md) {
  .container {
    max-width: 720px;
  }
}
@media only screen and (min-width: $lg) {
  .container {
    max-width: 960px;
  }
}
@media only screen and (min-width: $xl) {
  .container {
    max-width: 1140px;
  }
}
@media only screen and (min-width: $xxl) {
  .container {
    max-width: 1320px;
  }
}

//Common button styles
@mixin btn($bg, $color) {
  padding: 0.7rem 0.9rem;
  border-radius: 5px;
  border: 5px solid transparent;
  font-weight: 600;
  color: $color;
  background: $bg;
  text-decoration: none;
  white-space: nowrap;
}

//Common background properties
@mixin bg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

//helper function for display:flex
%flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

//General classes used throughout the pages
.flex {
  @extend %flex;
  flex-wrap: wrap;
}

.btn-primary {
  @include btn($primary, #fff);
  padding-top: 0;
}

.btn-white {
  @include btn(#fff, #333333);
}

.btn-white.active {
  border-bottom: 5px solid $primary;
}

.btn-rounded{
  border-radius: 999999px;
}

//Page Navigation (ICON UP)
.icon-up{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.55rem;
}

//Page Navigation (ICON UP)
.icon-left{
  @extend %flex;
  padding: 0.25rem 0.9rem;
}


.icon-up.active, .icon-left.active{
  background: $primary;
  border-color: $primary;
  color: white;
  img{
    filter: invert(1);
  }
}



body {
  font-family: "Lato";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

p {
  line-height: 1.75;
}

ul {
  padding-inline-start: 0;
  line-height: 1.75;
}



.tick {
  li {
    list-style: none;
  }

  li:not(:last-child) {
    margin-bottom: 1.3rem;
  }

  li::before {
    content: "";
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    margin: auto;
    background-image: url("../img/tick.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    top: 5px;
    margin-right: 5px;
  }
}

.btn-primary::before,
.contact-mobile::before {
  content: "";
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 6px;
  position: relative;
  top: 7px;
  background-image: url("../img/phone.png");
  @include bg;
}

// Header v3 styling
.top-header{
  background:$primary;
  display: flex;
  padding: 0.75rem 0;
  div{
    width: 100%;
    display: flex;
    color: white;
  }
  .nav-link{
    color: white;
    padding: 0 0.75rem;
  }
  .active{
    color: white!important;
  }
  .nav-link:first-child{
    padding-left: 0;
  }

  a{
    text-decoration: none;
    color: white;
  }
}

.menu.py-6{
  padding: 1.75rem;
}
// Header v3 styling ends


nav {
  background: #f8f8f8;
  .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    padding: 1rem 0;

    .nav-left {
      margin-right: auto;
    }
    .nav-right {
      margin-left: auto;
    }
  }

  .nav-link {
    text-decoration: none;
    color: #333333;
  }

  .nav-link.active{
    color: $primary;
    font-weight: 700;
  }

  ul {
    list-style-type: none;
    padding: 2rem;
  }

  .nav-brand{
    font-weight: 700;
    letter-spacing: 0.3px;
  }
}


#page-navigation {
  @extend %flex;
  flex-direction: column;
  gap: 2rem;
  @include bg;
  height: 91.3vh;
  color: white;

  h1 {
    font-size: 3rem;
    margin-bottom: -0.75rem;
    text-align: center;
    font-weight: 700;
  }

  h4 {
    text-align: center;
    margin-bottom: 2.5rem;
    font-weight: 400;
  }

}

.section {
  background: #f8f8f8;
  padding: 6rem 0;
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 6rem;
    div {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }

  h4,
  h2,
  p {
    margin: 10px 0;
    color: #333333;
  }

  h2 {
    font-size: 1.8rem;
    line-height: 1.5;
  }
}

.section:nth-child(2n) {
  background: transparent;
}

#cta {
  @extend %flex;
  flex-direction: column;
  gap: 1rem;
  background-image: url("../img/footer.jpg");
  @include bg;
  color: white;
  padding: 4rem 0;

  h3 {
    font-size: 2rem;
    margin-top: 0;
    text-align: center;
  }

  .btn-primary {
    margin-top: 1.5rem;
  }

  .active{
    border-bottom: 5px solid $primary;
  }
}

footer > nav {
  padding: 0.5rem 0;
}

//Mobile CSS
@media only screen and (max-width: $sm) {
  .sm-hide {
    display: none !important;
  }

  .flex {
    flex-direction: column;
    gap: 1rem;
  }

  .btn-white,
  .btn-primary {
    width: 40vw;
    text-align: center;
  }

  .mob-header {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      text-decoration: none;
      color: inherit;
      font-weight: 600;
    }
  }

  .content {
    width: 85%;
    margin: auto;
  }

  .section {
    padding-top: 3rem;

    img{
      max-width: 80vw;
      margin: auto;
    }
  }

  #cta {
    padding: 3rem 1rem;
  }

  .contact-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    text-decoration: none;
    color: white;
    background: $primary;
    text-align: center;
    font-weight: 600;
  }

  .section .container {
    gap: 3rem;
  }

  .contact-mobile::before {
    top: 0;
  }

  #mobile-menu{
    display: none;

    background: #333333;
    padding:0.5rem 1.5rem;
    margin: 0;
    .nav-link{
      color: white;
      display: block;
      padding: 0.5rem 1rem;
    }
  }

}

@media only screen and (min-width: $sm) {
  .sm-only {
    display: none !important;
  }
}

@media only screen and (min-width: $lg) {
  .section:nth-child(2n) {
    .content {
      order: 1;
    }
  }
}
