//All the styles are already in the css

<!-- ICON LEFT -->
<div class="flex">
   <a href="index.html" class="btn-white icon-left"><img src="dist/img/refrigerator.png" width="18px" alt=""> Refrigerator Repair</a>
   <a href="freezer-repair.html" class="btn-white icon-left"><img src="dist/img/freezer.png" width="25px" alt=""> Freezer Repair</a>
   <a href="winecooler-repair.html" class="btn-white active icon-left"><img src="dist/img/winecooler.png" width="33px" alt=""> Winecooler Repair</a>
</div>
<!-- ICON LEFT ends -->